I am a third year PhD student at UCSD. My research interests are in bioinformatics and more specifically, I focus on computational mass spectrometry. At UCSD I have the honor of being advised by <a href="http://cseweb.ucsd.edu/~nbandeir/">Nuno Bandeira</a>. 
                        
<br>
<br>

Prior to coming to San Diego, I attended the University of Illinois for my undergraduate degree in computer engineering. However, it was in Rolla, MO that I spent my most impressionable years. 
