<strong>Journal Publications</strong>
<hr style="
    margin: 4px 0;
">

Amina Bouslimani, Carla Porto, Christopher M Rath, <strong>Mingxun Wang</strong>, Yurong Guo, Antonio Gonzalez, Donna Berg-Lyon, Gail Ackermann, Gitte Julie Moeller Christensen, Teruaki Nakatsuji, Lingjuan Zhang, Andrew W Borkowski, Michael J Meehan, Kathleen Dorrestein, Richard L Gallo, Nuno Bandeira, Rob Knight, Theodore Alexandrov, Pieter C Dorrestein. <i><a href="http://www.pnas.org/content/early/2015/03/26/1424409112?tab=related">Molecular cartography of the human skin surface in 3D .</a></i> <small> Proceedings of the National Academy of Sciences</small>
<br>
<small style="font-size: 85%;">Press coverage: <i><a href="http://www.wired.com/2015/03/body-maps-expose-chemical-residue-coats-skin/">Wired</a></i>, <i><a href="http://www.cnn.com/2015/04/09/health/3d-map-human-skin-bacteria-chemicals/index.html">CNN</a></i>, <i><a href="http://directorsblog.nih.gov/2015/04/09/of-microbes-molecules-and-maps/">NIH Director</a></i> </small>
<br>
<br>
Katherine R Duncan, Max Crüsemann, Anna Lechner, Anindita Sarkar, Jie Li, Nadine Ziemert, <strong>Mingxun Wang</strong>, Nuno Bandeira, Bradley S Moore, Pieter C Dorrestein, Paul R Jensen. <i><a href="http://www.sciencedirect.com/science/article/pii/S1074552115001039">Molecular Networking and Pattern-Based Genome Mining Improves Discovery of Biosynthetic Gene Clusters and their Products from Salinispora Species.</a></i> <small> Cell Chemistry & Biology</small>
<br>
<br>

Mohimani, Hosein, Roland D. Kersten, Wei-Ting Liu, <strong>Mingxun Wang</strong>, Samuel O. Purvine, Si Wu, Heather M. Brewer et al. <i><a href="http://pubs.acs.org/doi/abs/10.1021/cb500199h">Automated genome mining of ribosomal peptide natural products.</a></i> <small> ACS chemical biology</small>
<br>
<br>

<strong>Mingxun Wang</strong> and Nuno Bandeira. <i><a href="http://pubs.acs.org/doi/abs/10.1021/pr400230p">Spectral Library Generating Function for Assessing Spectrum-Spectrum Match Significance.</a> </i> <small>Journal of Proteome Research.</small>
<br>
<br>



<strong>Conference Presentations</strong>
<hr style="
    margin: 4px 0;
">

<i> GNPS - a Preview of the Future of Community Wide Collaboration and the Power of Social Networking. </i> <small>Plant and Animal Genomics Conference XXIII 2015.</small>

<br>
<br>

<i>Spectral Library Generating Function for Assessing Spectrum-Spectrum Match Significance. </i> <small>RECOMB 2013.</small>
<br>
<br>


<strong>Academic Service</strong>
<hr style="
    margin: 4px 0;
">
RECOMB Satellite Conference on Computational Proteomics, 2012 (RECOMB-CP 12), April 2012
<br>
<i>Organizing Committee  </i>
<br>
RECOMB 2012 - <i>Reviewer</i>
<br>
RECOMB 2013 - <i>Reviewer</i>
<br>
RECOMB 2014 - <i>Reviewer</i>
<br>
RECOMB 2015 - <i>Reviewer</i>
<br>
Molecular Cellular Proteomics - <i>Reviewer</i>
<br>
Journal of Proteome Research - <i>Reviewer</i>
<br>
Bioinformatics - <i>Reviewer</i>
<br>
<br>


<strong>Teaching</strong>
<hr style="
    margin: 4px 0;
">

UCSD Extension Academic Connections Summer 2014 - Intro to Bioinformatics
<br>
<i>Instructor</i>
<br>
<small style="font-size: 85%;">Featured <a href="http://ucsandiegoextension.wordpress.com/2014/07/18/academics-connections-outreach-goal-i-can-learn-anything/"> here </a> and on <a href="https://www.youtube.com/watch?v=Th1rY_0530Q">San Diego Channel 4 </a>. </small>

<br>
<br>

UCSD School of Pharmacy and pharmaceutical Sciences 205: Pharmacy Informatics 2014/2015
<br>
<i>Guest Lecturer</i>
<br>
<br>

UCSD BILD 4: Introductory Biology Lab 2014/2015
<br>
<i>Guest Presenter</i>
<br>
<br>

<strong>Education</strong>
<p>
University of California San Diego
<br>
<i>Ph.D. 2010-present </i>
</p>

<p>
University of Illinois at Urbana Champaign
<br>
<i>B.S. 2006-2009 </i>
</p>


<br>
<strong>Awards</strong>
<br>
UCSD CSE 25th Anniversary - The Analysis and Visualization of the Human Skin Microbiome - <i>Excellent Presentation Award</i>
<br>
San Diego Fellowship - 2012

<br>
<br>
<strong>Industry Experience</strong>
<p>
Nuvixa Inc.<br>
<i>2009-2010</i>
</p>

<p>
Qualcomm Inc.<br>
<i>2010</i>
</p>

<p>
Amazon.com<br>
<i>2008, 2009</i>
</p>
