<strong>Potato Surfer</strong>
<hr style="
    margin: 4px 0;
">
I created potato surfer with a couple of friends. We wanted to recreate the viewing experience of television on the internet with internet content. Users can view channels with none of the modern viewing amenities, such as pause and rewind. We've removed the tyranny of choice with users only able to change channel with everyone sync'd up. Additionally, users can also be channel producers: curating content and scheduling content display with full control of their own channel. Check it out here at <a href="http://potatosurfer.com">potatosurfer.com</a>.

<br>
<br>

<strong>The Great Watermelon Study of 2015</strong>
<hr style="
    margin: 4px 0;
">

Have you ever wanted to pick the best watermelon whiel standing at the store but didn't know how to tell? Well, check out the blog at <a href="http://www.watermelonstudy.com">watermelonstudy.com</a>. 

